---
layout: default
title: Developer, Scientist, Photographer
description: Developer, Scientist, Photographer. Master of Science student in Conservation Biology at the University of West Alabama. Graduate Certificate in Ceospatial Analysis student at the University of Florida.
featured_image: /images/DSC06717.webp
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Welcome!</h1>
		<p>Hey there, thanks for stopping by! Here, you’ll find my work in web development, conservation biology, geospatial analysis, and photography, as well as updates on my journey through grad school and beyond. Feel free to explore and get in touch through the socials listed below, or through the <a style="color: hsla(0,0%,100%,.8); text-decoration: underline;" href="/contact">contact form</a>.</p>

		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>